main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}

.btn-submit {
  margin-top: 20px;
  background-color: var(--secondary);
}

.btn-text {
    font-size: 1.5em;
    color: var(--white);
}

.crea {
    color:  var(--white);
    text-decoration: none;
    background-color: var(--main);
    width: 70%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.titulo {
    color: var(--main)
}

label {
    font-size: 1.5em;
    color: var(--white)
}

form {
    background-color: var(--terciary);
    width: 70%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 40rem) {
    form {
        width: 100%;
    }
    .crea {
        width: 100%;
    }
}