@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');

:root {
    --white: #eaf2efff;
    --main: #912f56ff;
    --secondary:#912f56ff;
    --terciary:  rgb(138, 118, 126);
    --dark: #101419ff;
    --my-font: 'Charis SIL', serif;
}
/* secondary #468c98ff;

 terciary #476c9bff; */

* {
    font-family: var(--my-font);    
}

body {
    background-color: var(--white);
}

.nav-item {
    text-align: center;
    width: auto;
    color: var(--white);
    font-size: medium;
    padding: 0.6em;

    border-left: var(--white) 1px solid;
    margin: 0;
    height: 70px;

}

.header {
    background-color: var(--main);
    color: var(--white);
}

.header-title {
    padding-left: 1.5em;
}

.color-text {
    color: var(--white)
}

@media screen and (max-width: 40rem) {

    .nav-item {
        height: 45px;
        border: 1px solid var(--white);
        padding: 0px;
    }
}

.footer {
    padding-bottom: 80px;
    background-color: var(--white);
    text-align: center;
    padding-top: 20px;
}