:root {
--razzmic-berry: #8a4f7dff;
--pink-lace: #fcddf2ff;
--laurel-green: #b6c8a9ff;
--aero-blue: #c8ead3ff;
--aero-blue-2: #cfffe5ff;
--light-slate-gray: #7293a0ff;
--nyanza: #e5ffdeff;
--xiketic: #170f11ff;
}

